# CMake
build
build/
build-rel/
build-release/
build.ninja
CMakeCache.txt
cmake_install.cmake
CMakeFiles/
.cmake/
xfbinConfig.cmake
xfbinConfigVersion.cmake
Makefile
.clang-tidy

# IDE
.vscode/
.idea/
